<br>
<!-- Single row that will hold several column names -->
<div class="row">
    <!-- Total orders Column -->
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5>Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_orders}}</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Orders delivered Column -->
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5>Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delivered_count}}</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Orders Pending Column -->
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5>Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending_count}}</h3>
                </div>
            </div>
        </div>
    </div>

</div>