
/* #logo{
    width: 20;
    height: 20;

} */

body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: #284a97;
}

#orders-delivered{
    background-color: #476bc0;
}

#orders-pending{
    background-color: #b7c7eb ;
}
        
    